@inherits BaseComponent
@if (IsVisible)
{
<div @attributes="@this.RemainingAttributes" class=@CssClass style="@this.CssStyles">
    <input class="form-check-input" type="checkbox" id="toggle-switch" style=@ToggleBgColorStyle
           checked=@Checked @onchange=@OnCheckedChanged>
    <label class="form-check-label" for="toggle-switch">@Label</label>
</div>
}
