<div class="top-row ps-3 navbar navbar-dark" style="background-color: darkgreen;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">d20Tek Components Sample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/spinners" Match="NavLinkMatch.All">
                <span class="oi oi-reload" aria-hidden="true"></span> Spinner
            </NavLink>
            <NavLink class="nav-link" href="/content-spinner" Match="NavLinkMatch.All">
                <span class="oi oi-reload" aria-hidden="true"></span> Content Spinner
            </NavLink>
            <NavLink class="nav-link" href="/timer" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Timer
            </NavLink>
            <NavLink class="nav-link" href="/span-timer" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Span Timer
            </NavLink>
            <NavLink class="nav-link" href="/countdown-timer" Match="NavLinkMatch.All">
                <span class="oi oi-timer" aria-hidden="true"></span> Countdown Timer
            </NavLink>
            <NavLink class="nav-link" href="/toggle-switch" Match="NavLinkMatch.All">
                <span class="oi oi-transfer" aria-hidden="true"></span> Toggle Switch
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
