.spinner {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: 1.5s linear infinite spin-animation;
    animation: 1.5s linear infinite spin-animation;
}

@keyframes spin-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-pulse {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: -.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: 1.5s linear infinite pulse-animation;
    animation: 1.5s linear infinite pulse-animation;
}

@keyframes pulse-animation {
    0% { transform: scale(0); }
    50% { opacity: 1; transform: none; }
}
