div {
    --spinner-secondary-color: transparent;
    --spinner-width: 2rem;
    --spinner-height: 2rem;
}

.spinner-label {
    margin: 8px;
    text-align: center;
}

.spinner-grid-container {
    display: grid;
    justify-content: center;
    vertical-align: middle;
    grid-template-areas:
        'top top top'
        'left main right'
        'bottom bottom bottom';
}

.spinner-label-top {
    grid-area: top;
}

.spinner-label-bottom {
    grid-area: bottom;
}

.spinner-label-left {
    grid-area: left;
    text-align: right;
    vertical-align: middle;
}

.spinner-label-right {
    grid-area: right;
    text-align: left;
    vertical-align: middle;
}

.spinner-area-main {
    grid-area: main;
    text-align: center;
}

/* default spinner */
.spinner {
    display: inline-block;
    width: var(--spinner-width);
    height: var(--spinner-height);
    vertical-align: -.125em;
    border: calc(var(--spinner-width) / 12) solid currentColor;
    border-right-color: var(--spinner-secondary-color);
    border-radius: 50%;
    -webkit-animation: 1.5s linear infinite spin-animation;
    animation: 1.5s linear infinite spin-animation;
}

@keyframes spin-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* pulse spinner */
.spinner-pulse {
    display: inline-block;
    width: var(--spinner-width);
    height: var(--spinner-height);
    vertical-align: -.125em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: 1.5s linear infinite pulse-animation;
    animation: 1.5s linear infinite pulse-animation;
}

@keyframes pulse-animation {
    0% { transform: scale(0); }
    50% { opacity: 1; transform: none; }
}

/* square spinner */
.spinner-square {
    display: inline-block;
    width: calc(var(--spinner-width) * 0.85);
    height: calc(var(--spinner-height) * 0.85);
    margin: calc(var(--spinner-height) * 0.15) calc(var(--spinner-width) * 0.15) calc(var(--spinner-height) * 0.15) calc(var(--spinner-width) * 0.15);
    vertical-align: -.125em;
    background-color: currentColor;
    -webkit-animation: 2s linear infinite spin-animation;
    animation: 2s linear infinite spin-animation;
}

/* dual ring spinner */
.spinner-dualring,
.spinner-dualring:after {
    box-sizing: border-box;
}

.spinner-dualring {
    display: inline-block;
    width: var(--spinner-width);
    height: var(--spinner-height);
}

    .spinner-dualring:after {
        content: " ";
        display: block;
        width: var(--spinner-width);
        height: var(--spinner-height);
        border-radius: 50%;
        border: calc(var(--spinner-width) / 12) solid currentColor;
        border-color: currentColor var(--spinner-secondary-color) currentColor var(--spinner-secondary-color);
        animation: spin-animation 1.5s linear infinite;
    }

/* hourglass spinner */
.spinner-hourglass,
.spinner-hourglass:after {
    box-sizing: border-box;
}

.spinner-hourglass {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);
}

    .spinner-hourglass:after {
        content: " ";
        display: block;
        border-radius: 50%;
        box-sizing: border-box;
        border: calc(var(--spinner-width) / 2) solid currentColor;
        border-color: currentColor var(--spinner-secondary-color) currentColor var(--spinner-secondary-color);
        animation: hourglass-animation 3s infinite;
    }

@keyframes hourglass-animation {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}

/* iOS spinner */
.spinner-ios,
.spinner-ios div,
.spinner-ios div:after {
    box-sizing: border-box;
}

.spinner-ios {
    color: currentColor;
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --ios-piece-width: calc(var(--spinner-width) * 0.08);
    --ios-piece-height: calc(var(--spinner-height) * 0.22);
    --ios-piece-radius: calc(var(--spinner-width) * 0.35);
    --ios-width: var(--spinner-width);
    --ios-height: var(--spinner-height);
}

    .spinner-ios div {
        transform-origin: calc(var(--ios-width) / 2) calc(var(--ios-height) / 2);
        animation: fade-animation 1.2s linear infinite;
    }

        .spinner-ios div:after {
            content: " ";
            display: block;
            position: absolute;
            top: calc(var(--ios-height) * 0.5 - var(--ios-piece-radius) - var(--ios-piece-height) * 0.5);
            left: calc(var(--ios-width) * 0.5 - var(--ios-piece-width) * 0.5);
            width: var(--ios-piece-width);
            height: var(--ios-piece-height);
            border-radius: 20%;
            background: currentColor;
        }

        .spinner-ios div:nth-child(1) {
            transform: rotate(0deg) translateX(var(--ios-center-width)) translateX(var(--ios-center-height));
            animation-delay: -1.1s;
        }

        .spinner-ios div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -1s;
        }

        .spinner-ios div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.9s;
        }

        .spinner-ios div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.8s;
        }

        .spinner-ios div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.7s;
        }

        .spinner-ios div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.6s;
        }

        .spinner-ios div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.5s;
        }

        .spinner-ios div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.4s;
        }

        .spinner-ios div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.3s;
        }

        .spinner-ios div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.2s;
        }

        .spinner-ios div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.1s;
        }

        .spinner-ios div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
        }

@keyframes fade-animation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

/* ripple spinner */
.spinner-ripple,
.spinner-ripple div {
    box-sizing: border-box;
}

.spinner-ripple {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --ripple-height: var(--spinner-height);
    --ripple-width: var(--spinner-width);
    --center-x: calc(var(--spinner-width) / 2);
    --center-y: calc(var(--spinner-height) / 2);
}

    .spinner-ripple div {
        position: absolute;
        border: 4px solid currentColor;
        opacity: 1;
        border-radius: 50%;
        animation: ripple-animation 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

        .spinner-ripple div:nth-child(2) {
            animation-delay: -0.75s;
        }

@keyframes ripple-animation {
    0% {
        top: calc(var(--center-y) - 4px);
        left: calc(var(--center-x) - 4px);
        height: 8px;
        width: 8px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: var(--ripple-width);
        height: var(--ripple-height);
        opacity: 0;
    }
}

/* roller spinner */
.spinner-roller,
.spinner-roller div,
.spinner-roller div:after {
    box-sizing: border-box;
}

.spinner-roller {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --ball-size: calc(var(--spinner-width) * 0.1);
    --center-x: calc(var(--spinner-width) / 2);
    --center-y: calc(var(--spinner-height) / 2);
}

    .spinner-roller div {
        animation: spin-animation 1.5s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: var(--center-x) var(--center-y);
    }

        .spinner-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: var(--ball-size);
            height: var(--ball-size);
            border-radius: 50%;
            background: currentColor;
            margin: calc(var(--ball-size) * -0.5) 0 0 calc(var(--ball-size) * -0.5);
        }

        .spinner-roller div:nth-child(1) {
            animation-delay: -0.1s;
        }

            .spinner-roller div:nth-child(1):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(2) {
            animation-delay: -0.2s;
        }

            .spinner-roller div:nth-child(2):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(3) {
            animation-delay: -0.3s;
        }

            .spinner-roller div:nth-child(3):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(4) {
            animation-delay: -0.4s;
        }

            .spinner-roller div:nth-child(4):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(5) {
            animation-delay: -0.5s;
        }

            .spinner-roller div:nth-child(5):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(6) {
            animation-delay: -0.6s;
        }

            .spinner-roller div:nth-child(6):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(7) {
            animation-delay: -0.7s;
        }

            .spinner-roller div:nth-child(7):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

        .spinner-roller div:nth-child(8) {
            animation-delay: -0.8s;
        }

            .spinner-roller div:nth-child(8):after {
                top: calc(var(--ball-size) / 2);
                left: var(--center-x);
            }

/* circle spinner */
.spinner-circle,
.spinner-circle div {
    box-sizing: border-box;
}

.spinner-circle {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --ball-size-width: calc(var(--spinner-width) * 0.08);
    --ball-size-height: calc(var(--spinner-height) * 0.08);
    --circle-radius: calc((var(--spinner-width) - var(--ball-size-width)) * 0.4);
    --delta-width: calc(var(--spinner-width) - var(--ball-size-height));
    --delta-height: calc(var(--spinner-height) - var(--ball-size-height));
}

    .spinner-circle div {
        position: absolute;
        width: var(--ball-size-width);
        height: var(--ball-size-height);
        background: currentColor;
        border-radius: 50%;
        animation: circle-animation 1.5s linear infinite;
    }

        .spinner-circle div:nth-child(1) {
            animation-delay: 0s;
            top: calc(var(--delta-height) * 0.5 + 0 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 1 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(2) {
            animation-delay: -0.1s;
            top: calc(var(--delta-height) * 0.5 + -0.5 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0.866 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(3) {
            animation-delay: -0.2s;
            top: calc(var(--delta-height) * 0.5 + -0.866 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0.5 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(4) {
            animation-delay: -0.3s;
            top: calc(var(--delta-height) * 0.5 + -1 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(5) {
            animation-delay: -0.4s;
            top: calc(var(--delta-height) * 0.5 + -0.866 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + -0.5 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(6) {
            animation-delay: -0.5s;
            top: calc(var(--delta-height) * 0.5 + -0.5 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + -0.866 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(7) {
            animation-delay: -0.6s;
            top: calc(var(--delta-height) * 0.5 + 0 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + -1 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(8) {
            animation-delay: -0.7s;
            top: calc(var(--delta-height) * 0.5 + 0.5 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + -0.866 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(9) {
            animation-delay: -0.8s;
            top: calc(var(--delta-height) * 0.5 + 0.866 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + -0.5 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(10) {
            animation-delay: -0.9s;
            top: calc(var(--delta-height) * 0.5 + 1 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(11) {
            animation-delay: -1s;
            top: calc(var(--delta-height) * 0.5 + 0.866 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0.5 * var(--circle-radius));
        }

        .spinner-circle div:nth-child(12) {
            animation-delay: -1.1s;
            top: calc(var(--delta-height) * 0.5 + 0.5 * var(--circle-radius));
            left: calc(var(--delta-width) * 0.5 + 0.866 * var(--circle-radius));
        }

@keyframes circle-animation {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}

/* blocks spinner */
.spinner-blocks,
.spinner-blocks div {
    box-sizing: border-box;
}

.spinner-blocks {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --block-width: calc(var(--spinner-width) / 5);
    --block-gap: calc(var(--spinner-width) / 10);
    --block-height: var(--spinner-height);
}

    .spinner-blocks div {
        display: inline-block;
        position: absolute;
        left: var(--block-gap);
        width: var(--block-width);
        background: currentColor;
        animation: blocks-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

        .spinner-blocks div:nth-child(1) {
            left: var(--block-gap);
            animation-delay: -0.24s;
        }

        .spinner-blocks div:nth-child(2) {
            left: calc(var(--block-gap) * 4);
            animation-delay: -0.12s;
        }

        .spinner-blocks div:nth-child(3) {
            left: calc(var(--block-gap) * 7);
            animation-delay: 0s;
        }

@keyframes blocks-animation {
    0% {
        top: calc(var(--block-height) * 0.05);
        height: calc(var(--block-height) * 0.9);
    }

    50%, 100% {
        top: calc(var(--block-height) * 0.25);
        height: calc(var(--block-height) * 0.5);
    }
}

/* ellipsis spinner */
.spinner-ellipsis,
.spinner-ellipsis div {
    box-sizing: border-box;
}

.spinner-ellipsis {
    display: inline-block;
    position: relative;
    width: var(--spinner-width);
    height: var(--spinner-height);

    --ball-size: calc(var(--spinner-width) / 6);
    --ball-top: calc((var(--spinner-height) / 2) - (var(--ball-size) / 2));
    --gap-size: calc(var(--spinner-width) / 10);
}

    .spinner-ellipsis div {
        position: absolute;
        top: var(--ball-top);
        width: var(--ball-size);
        height: var(--ball-size);
        border-radius: 50%;
        background: currentColor;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .spinner-ellipsis div:nth-child(1) {
            left: var(--gap-size);
            animation: ellipsis1 0.6s infinite;
        }

        .spinner-ellipsis div:nth-child(2) {
            left: var(--gap-size);
            animation: ellipsis2 0.6s infinite;
        }

        .spinner-ellipsis div:nth-child(3) {
            left: calc(var(--gap-size) * 4);
            animation: ellipsis2 0.6s infinite;
        }

        .spinner-ellipsis div:nth-child(4) {
            left: calc(var(--gap-size) * 7);
            animation: ellipsis3 0.6s infinite;
        }

@keyframes ellipsis1 {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@keyframes ellipsis2 {
    0% { transform: translate(0, 0); }
    100% { transform: translate(calc(var(--gap-size) * 3), 0); }
}

@keyframes ellipsis3 {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}
