@page "/"

<PageTitle>d20 Components Sample</PageTitle>

<h1>d20Tek Blazor Components Sample</h1>

<p>This sample shows how different blazor components can be used in your own applications.</p>

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>Components</h3>
<ul>
    <li><a href="/spinners">Spinner</a></li>
    <li><a href="/content-spinner">Content Spinner</a></li>
</ul>