@page "/"

<PageTitle>d20Tek Components Sample</PageTitle>

<h1>d20Tek Blazor Components Sample</h1>

<p>This sample shows how different blazor components can be used in your own applications.</p>

<h3>Components</h3>
<div class="component-grid">
    <span class="oi oi-reload" aria-hidden="true"></span>
    <a href="/content-spinner">Content Spinner</a>
    <span class="oi oi-timer" aria-hidden="true"></span>
    <a href="/countdown-timer">Countdown Timer</a>
    <span class="oi oi-excerpt" aria-hidden="true"></span>
    <a href="/markdown-view">Markdown View</a>
    <span class="oi oi-comment-square" aria-hidden="true"></span>
    <a href="/message-box">Message Box</a>
    <span class="oi oi-box" aria-hidden="true"></span>
    <a href="/modal-dialog">Modal Dialog</a>
    <span class="oi oi-document" aria-hidden="true"></span>
    <a href="/modal-form-dialog">Modal Form Dialog</a>
    <span class="oi oi-timer" aria-hidden="true"></span>
    <a href="/span-timer">Span Timer</a>
    <span class="oi oi-reload" aria-hidden="true"></span>
    <a href="/spinners">Spinner</a>
    <span class="oi oi-timer" aria-hidden="true"></span>
    <a href="/timer">Timer</a>
    <span class="oi oi-caret-right" aria-hidden="true"></span>
    <a href="/toggle-panel">Toggle Panel</a>
    <span class="oi oi-transfer" aria-hidden="true"></span>
    <a href="/toggle-switch">Toggle Switch</a>
</div>