@page "/"

<PageTitle>d20Tek Components Sample</PageTitle>

<h1>d20Tek Blazor Components Sample</h1>

<p>This sample shows how different blazor components can be used in your own applications.</p>

<h3>Components</h3>
<ul>
    <li><a href="/spinners">Spinner</a></li>
    <li><a href="/content-spinner">Content Spinner</a></li>
    <li><a href="/timer">Timer</a></li>
    <li><a href="/span-timer">Span Timer</a></li>
</ul>