@page "/span-timer"
<h3>SpanTimer Component</h3>
<p>A SpanTimer shows the remaining time as a visual stopwatch. It has a radial display time with warnings as time runs low. 
   When the duration is reached, it shows an expiration message instead.</p>
<div class="d-flex align-items-center component-container">
    <div class="p-2 interactivity-card">
        <h5>Parameters</h5>
        <table class="table table-sm mb-0">
            <tbody>
                <tr>
                    <td><label for="option_duration" style="margin-right: 5px;">TimerDuration</label></td>
                    <td>
                        <select id="option_duration" @onchange=OnDurationChanged>
                            <option value="10s">10 sec</option>
                            <option value="30s" selected>30 sec</option>
                            <option value="1m">1 min</option>
                            <option value="2m">2 min</option>
                            <option value="5m">5 min</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="option_expiration" style="margin-right: 5px;">ExpirationMessage</label></td>
                    <td><input type="text" id="option_expiration" style="width: 150px;" @bind-value=_interactiveExpirationMessage></td>
                </tr>
                <tr>
                    <td><label for="option_warning_threshold" style="margin-right: 5px;">WarningThreshold</label></td>
                    <td><input type="number" min="1" max="300" id="option_warning_threshold" style="width: 150px;" @bind-value=_interactiveWarningThreshold></td>
                </tr>
                <tr>
                    <td><label for="option_alert_threshold" style="margin-right: 5px;">AlertThreshold</label></td>
                    <td><input type="number" min="1" max="300" id="option_alert_threshold" style="width: 150px;" @bind-value=_interactiveAlertThreshold></td>
                </tr>
                <tr>
                    <td><label for="option_remaining_color" style="margin-right: 5px;">RemainingTimeColor</label></td>
                    <td><input type="text" id="option_remaining_color" style="width: 150px;" @bind-value=_interactiveRemainingColor></td>
                </tr>
                <tr>
                    <td><label for="option_warning_color" style="margin-right: 5px;">WarningTimeColor</label></td>
                    <td><input type="text" id="option_warning_color" style="width: 150px;" @bind-value=_interactiveWarningColor></td>
                </tr>
                <tr>
                    <td><label for="option_alert_color" style="margin-right: 5px;">AlertTimeColor</label></td>
                    <td><input type="text" id="option_alert_color" style="width: 150px;" @bind-value=_interactiveAlertColor></td>
                </tr>
                <tr>
                    <td><label for="option_elapsed_color" style="margin-right: 5px;">ElapsedTimeColor</label></td>
                    <td><input type="text" id="option_elapsed_color" style="width: 150px;" @bind-value=_interactiveElapsedColor></td>
                </tr>
                <tr>
                    <td><label for="option_size" style="margin-right: 5px;">Size</label></td>
                    <td>
                        <select id="option_size" @bind-value=_interactiveSize @bind-value:event="onchange">
                            <option value=@Size.ExtraSmall>Extra Small</option>
                            <option value=@Size.Small>Small</option>
                            <option value=@Size.Medium selected>Medium</option>
                            <option value=@Size.Large>Large</option>
                            <option value=@Size.ExtraLarge>Extra Large</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="option_visible" style="margin-right: 5px;">IsVisible</label></td>
                    <td><ToggleSwitch id="option_visible" @bind-Checked=_interactiveVisibility Label="@ToggleLabel" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-2 flex-grow-1 justify-content-center" style="text-align: center">
        <SpanTimer @ref=_ref style="margin: auto"
                   TimerDurationSpan=@_interactiveDuration
                   ExpirationMessage=@_interactiveExpirationMessage
                   WarningThreshold=@_interactiveWarningThreshold
                   AlertThreshold=@_interactiveAlertThreshold
                   RemainingTimeColor=@_interactiveRemainingColor
                   ElapsedTimeColor=@_interactiveElapsedColor
                   WarningTimeColor=@_interactiveWarningColor
                   AlertTimeColor=@_interactiveAlertColor
                   Size=@_interactiveSize
                   IsVisible=@_interactiveVisibility
                   />
    </div>
</div>
<hr />

<h4>Default SpanTimer</h4>
<p>This is a timer with TimeSpan with the default properties and styles.</p>
<pre><code>&lt;SpanTimer /&gt;</code></pre>
<SpanTimer />
<hr />

<h4>SpanTimer Visibility</h4>
<p>This timer shows how to change the IsVisible property to show and hide the spinner.</p>
<pre><code>&lt;SpanTimer IsVisible=@this._timerVisible /&gt;</code></pre>
<div class="row">
    <div class="col">
        <button class="btn btn-outline-secondary" @onclick="ToggleTimerVisibility">
            Toggle Visibility
        </button>
    </div>
    <div class="col">
        <SpanTimer IsVisible=@this._timerVisible />
    </div>
</div>
<hr />

<h4>SpanTimer Colors</h4>
<p>Here's how you customize the timer's colors'.</p>
<pre><code>&lt;SpanTimer RemainingTimeColor="darkgray" WarningTimeColor="pink" AlertTimeColor="purple" ElapsedTimeColor="lightgreen" /&gt;</code></pre>
<SpanTimer RemainingTimeColor="darkgray" WarningTimeColor="pink" AlertTimeColor="purple" ElapsedTimeColor="lightgreen" />
<hr />

<h4>SpanTimer Intervals</h4>
<p>Here's how you customize the timer's different intervals for duration and color changes'.</p>
<pre><code>&lt;SpanTimer TimerDurationSpan=@(new TimeSpan(0, 0, 60)) WarningThreshold=30 AlertThreshold=15 /&gt;</code></pre>
<SpanTimer TimerDurationSpan=@(new TimeSpan(0, 0, 60)) WarningThreshold=30 AlertThreshold=15 />
<hr />

<h4>SpanTimer with Hours</h4>
<p>Here's how you customize the timer to show hours value.</p>
<pre><code>&lt;SpanTimer TimerDurationSpan=@(new TimeSpan(1, 10, 30)) WarningThreshold=1800 AlertThreshold=900 /&gt;</code></pre>
<SpanTimer TimerDurationSpan=@(new TimeSpan(1, 10, 30)) WarningThreshold=1800 AlertThreshold=900 />
<hr />

<h4>SpanTimer Expiration Message</h4>
<p>Here's how you customize the timer's different intervals for duration and color changes'.</p>
<pre><code>&lt;SpanTimer TimerDurationSpan=@(new TimeSpan(0, 0, 10)) WarningThreshold=5 AlertThreshold=3 ExpirationMessage="Done!" /&gt;</code></pre>
<SpanTimer TimerDurationSpan=@(new TimeSpan(0, 0, 10)) WarningThreshold=5 AlertThreshold=3 ExpirationMessage="Done!" />
<hr />
