@page "/spinners"
<h3>Spinner Component</h3>
<p>A spinner alerts a user that content is being loaded or processed, and they should wait for the activity to complete.</p>
<div class="d-flex align-items-center">
    <div class="p-2 interactivity-card">
        <h5>Parameters</h5>
        <table class="table table-sm mb-0">
            <tbody>
                <tr>
                    <td><label for="option_color" style="margin-right: 5px;">Color</label></td>
                    <td><input type="text" id="option_color" style="width: 150px;" @bind-value=_interactiveColor></td>
                </tr>
                <tr>
                    <td><label for="option_secondary_color" style="margin-right: 5px;">Secondary Color</label></td>
                    <td><input type="text" id="option_secondary_color" style="width: 150px;" @bind-value=_interactivesSecondaryColor></td>
                </tr>
                <tr>
                    <td><label for="option_label" style="margin-right: 5px;">Label</label></td>
                    <td><input type="text" id="option_label" style="width: 150px;" @bind-value=_interactiveLabel></td>
                </tr>
                <tr>
                    <td><label for="option_label_placement" style="margin-right: 5px;">Label Placement</label></td>
                    <td>
                        <select id="option_label_placement" @bind-value=_interactiveLabelPlacement @bind-value:event="onchange">
                            <option value=@Placement.Top>Top</option>
                            <option value=@Placement.Left>Left</option>
                            <option value=@Placement.Bottom selected>Bottom</option>
                            <option value=@Placement.Right>Right</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="option_type" style="margin-right: 5px;">Type</label></td>
                    <td>
                        <select id="option_type" @bind-value=_interactiveType @bind-value:event="onchange">
                            <option value=@SpinType.Blocks>Blocks</option>
                            <option value=@SpinType.Circle>Circle</option>
                            <option value=@SpinType.DualRing>Dual Ring</option>
                            <option value=@SpinType.Ellipsis>Ellipsis</option>
                            <option value=@SpinType.Hourglass>Hourglass</option>
                            <option value=@SpinType.Pulse>Pulse</option>
                            <option value=@SpinType.Ring selected>Ring</option>
                            <option value=@SpinType.Roller>Roller</option>
                            <option value=@SpinType.SpinIOS>Spin iOS</option>
                            <option value=@SpinType.Square>Square</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="option_size" style="margin-right: 5px;">Size</label></td>
                    <td>
                        <select id="option_size" @bind-value=_interactiveSize @bind-value:event="onchange">
                            <option value=@Size.ExtraSmall>Extra Small</option>
                            <option value=@Size.Small selected>Small</option>
                            <option value=@Size.Medium>Medium</option>
                            <option value=@Size.Large>Large</option>
                            <option value=@Size.ExtraLarge>Extra Large</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="option_visible" style="margin-right: 5px;">IsVisible</label></td>
                    <td><ToggleSwitch @bind-Checked=_interactiveVisibility Label="@_toggleLabel" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-2 flex-grow-1 justify-content-center">
        <Spinner @bind-Color=_interactiveColor
                 @bind-SecondaryColor=_interactivesSecondaryColor
                 @bind-Label=_interactiveLabel
                 @bind-LabelPlacement=_interactiveLabelPlacement
                 @bind-Type=_interactiveType
                 @bind-Size=_interactiveSize
                 @bind-IsVisible=_interactiveVisibility
                 />
    </div>
</div>
<hr />

<h4>Default Spinner</h4>
<p>This is a spinner with the default properties and styles.</p>
<pre><code>&lt;Spinner /&gt;</code></pre>
<Spinner />
<hr />

<h4>Spinner With Label (optional)</h4>
<p>The spinner component can also display an optional label if it is provided as a parameter.</p>
<pre><code>&lt;Spinner Label="Loading..." /&gt;</code></pre>
<div style="width: 56px">
    <Spinner Label="Loading..." />
</div>
<hr />

<h4>Spinner With LabelPlacement</h4>
<p>The spinner component allows you to place the label in four different positions:</p>
<pre><code>&lt;Spinner Label="Top..." LabelPlacement=Placement.Top /&gt;</code></pre>
<div class="row text-center">
    <div class="col">
        <Spinner Label="Top..." LabelPlacement=Placement.Top />
    </div>
    <div class="col">
        <Spinner Label="Bottom..." LabelPlacement=Placement.Bottom />
    </div>
    <div class="col">
        <Spinner Label="Left..." LabelPlacement=Placement.Left />
    </div>
    <div class="col">
        <Spinner Label="Right..." LabelPlacement=Placement.Right />
    </div>
</div>
<hr />

<h4>Spinner Visibility</h4>
<p>This is a spinner that allows changing of the IsVisible property to show and hide the spinner.</p>
<pre><code>&lt;Spinner IsVisible=@this._spinnerVisible /&gt;</code></pre>
<div class="row">
    <div class="col">
        <button class="btn btn-outline-secondary" @onclick="ToggleSpinnerVisibility">
            Toggle Visibility
        </button>
    </div>
    <div class="col">
        <Spinner IsVisible=@this._spinnerVisible />
    </div>
</div>
<hr />

<h4>Spinner With Color Parameters</h4>
<p>The spinner component also allows for simple customizations via component parameter: Color and SecondaryColor.
   Color is the spinner's foreground color. 
   SecondaryColor is only supported for a few spinners (Ring, DualRing, and Hourglass) to allow a background color change.</p>
<pre><code>&lt;Spinner Type=SpinType.DualRing Color="green" SecondaryColor="yellow" /&gt;</code></pre>
<Spinner Type=SpinType.DualRing Color="green" SecondaryColor="yellow" />
<hr />

<h4>Spinner Type</h4>
<p>The Spinner component has different types of displays:</p>
<pre><code>&lt;Spinner Type=SpinType.Pulse Label="Pulse" style="color: green" /&gt;</code></pre>
<div class="row text-center">
    <div class="col">
        <Spinner Type=SpinType.Ring Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Label="Ellipsis" style="color: orange" />
    </div>
</div>
<hr />

<h4>Spinner With Styles</h4>
<p>This is a spinner where styles are defined: color: red; height:120 px; width: 120px.</p>
<pre><code>&lt;Spinner style="color: red; height: 120px; width: 120px" /&gt;</code></pre>
<Spinner style="color: red; height: 120px; width: 120px" />
<hr />

<h4>Spinner With Id CSS</h4>
<p>This is a spinner with a class based on element id. The CSS element changes several properties of the spinner component.</p>
<pre><code>&lt;Spinner id="my-spinner" /&gt;</code></pre>
<Spinner id="my-spinner" />
<hr />

<h4>Spinner With Additional Classes</h4>
<p>This is a spinner with an additional class name. The CSS element changes several properties of the spinner component.</p>
<pre><code>&lt;div class="my-custom-spinner"&gt;&lt;Spinner class="my-custom-spinner"/&gt;&lt;/div&gt;</code></pre>
<div class="my-custom-spinner"><Spinner class="my-custom-spinner"/></div>
<hr />

<h4>Spinner Sizes</h4>
<p>The Spinner component has different defined sizes that can be set (the default size is Small). Here are the sizes for each spinner type:</p>
<pre><code>&lt;Spinner Type=SpinType.Pulse Label="Pulse" Size=Size.Medium style="color: green" /&gt;</code></pre>
<div class="row text-center">
    <div class="col">
        ExtraSmall
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ring Size=Size.ExtraSmall Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Size=Size.ExtraSmall Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Size=Size.ExtraSmall Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Size=Size.ExtraSmall Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Size=Size.ExtraSmall Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Size=Size.ExtraSmall Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Size=Size.ExtraSmall Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Size=Size.ExtraSmall Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Size=Size.ExtraSmall Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Size=Size.ExtraSmall Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Size=Size.ExtraSmall Label="Ellipsis" style="color: orange" />
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Small
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ring Size=Size.Small Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Size=Size.Small Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Size=Size.Small Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Size=Size.Small Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Size=Size.Small Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Size=Size.Small Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Size=Size.Small Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Size=Size.Small Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Size=Size.Small Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Size=Size.Small Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Size=Size.Small Label="Ellipsis" style="color: orange" />
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Medium
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ring Size=Size.Medium Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Size=Size.Medium Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Size=Size.Medium Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Size=Size.Medium Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Size=Size.Medium Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Size=Size.Medium Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Size=Size.Medium Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Size=Size.Medium Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Size=Size.Medium Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Size=Size.Medium Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Size=Size.Medium Label="Ellipsis" style="color: orange" />
    </div>
</div>
<div class="row text-center">
    <div class="col">
        Large
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ring Size=Size.Large Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Size=Size.Large Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Size=Size.Large Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Size=Size.Large Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Size=Size.Large Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Size=Size.Large Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Size=Size.Large Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Size=Size.Large Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Size=Size.Large Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Size=Size.Large Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Size=Size.Large Label="Ellipsis" style="color: orange" />
    </div>
</div>
<div class="row text-center">
    <div class="col">
        ExtraLarge
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ring Size=Size.ExtraLarge Label="Ring" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Pulse Size=Size.ExtraLarge Label="Pulse" style="color: green" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Square Size=Size.ExtraLarge Label="Square" style="color: darkorange" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Hourglass Size=Size.ExtraLarge Label="Hourglass" style="color: darkgray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.DualRing Size=Size.ExtraLarge Label="Dual Ring" style="color: lightblue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.SpinIOS Size=Size.ExtraLarge Label="iOS Spinner" style="color: purple" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ripple Size=Size.ExtraLarge Label="Ripple" style="color: blue" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Roller Size=Size.ExtraLarge Label="Roller" style="color: darkgreen" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Circle Size=Size.ExtraLarge Label="Circle" style="color: red" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Blocks Size=Size.ExtraLarge Label="Blocks" style="color: gray" />
    </div>
    <div class="col">
        <Spinner Type=SpinType.Ellipsis Size=Size.ExtraLarge Label="Ellipsis" style="color: orange" />
    </div>
</div>
<hr />

@code {
    bool _spinnerVisible = true;
    string _interactiveColor = "";
    string _interactivesSecondaryColor = "";
    string _interactiveLabel = "Label text";
    Placement _interactiveLabelPlacement = Placement.Bottom;
    SpinType _interactiveType = SpinType.Ring;
    Size _interactiveSize = Size.Small;
    bool _interactiveVisibility = true;
    string _toggleLabel => _interactiveVisibility ? "(visible)" : "(hidden)";

    private void ToggleSpinnerVisibility()
    {
        this._spinnerVisible = !this._spinnerVisible;
    }
}
