@page "/timer"
<h3>Timer Component</h3>

<h4>Default Timer</h4>
<p>This is a simple timer with the default properties and styles.</p>
<pre><code>&lt;Timer /&gt;</code></pre>
<Timer />
<hr />

@code {

}
