@page "/timer"
<h3>Timer Component</h3>

<h4>Default Timer</h4>
<p>This is a simple timer with the default properties and styles.</p>
<pre><code>&lt;Timer /&gt;</code></pre>
<Timer />
<hr />

<h4>Size</h4>
<p>This is a simple timer with the different sizes.</p>
<pre><code>&lt;Timer /&gt;</code></pre>
<Timer Size=Size.ExtraSmall />
<Timer Size=Size.Small />
<Timer Size=Size.Medium />
<Timer Size=Size.Large />
<Timer Size=Size.ExtraLarge />
<hr />

@code {

}
